input[type="radio"]{
  width:fit-content;
}
input[type="radio"]+label{
  border-radius: 100%;
  margin: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.ratingOne{
  
  color: #fd5560;
  transition: .2s;
}
.ratingOne:hover{
  color: white;
  background: #fd5560;
}
input[type="radio"]:checked+.ratingOne{
  color: white;
  background: #fd5560;
  

}

.ratingTwo{
  
  color: #fd7b3f;
  transition: .2s;
}
.ratingTwo:hover{
  color: white;
  background: #fd7b3f;
}
input[type="radio"]:checked+.ratingTwo{
  
  color: white;
  background: #fd7b3f;
  

}

.ratingThree{
  
  color: #e7b600;
  transition: .2s;
}
.ratingThree:hover{
  color: white;
  background: #e7b600;
}
input[type="radio"]:checked+.ratingThree{
  
  color: white;
  background: #e7b600;
  

}

.ratingFour{
  
  color: #37a329;
  transition: .2s;
}
.ratingFour:hover{
  color: white;
  background: #37a329;
}
input[type="radio"]:checked+.ratingFour{
  
  color: white;
  background: #37a329;
  

}

.ratingFive{
 
  color: #0a7744;
  transition: .2s;
}
.ratingFive:hover{
  color: white;
  background: #0a7744;
}
input[type="radio"]:checked+.ratingFive{
  
  color: white;
  background: #0a7744;
  

}

.ratingSix{
  
  color: #a8a8a8;
  transition: .2s;
}
.ratingSix:hover{
  color: white;
  background: #a8a8a8;
}
input[type="radio"]:checked+.ratingSix{
  
  color: white;
  background: #a8a8a8;
  

}
.k-button-group > .k-button:first-child:not(:only-child){
  border-end-end-radius: 100%;
  border-start-end-radius:100%;
  font-weight: bold;
  margin-right:0 ;
}
.k-button-group .k-button:not(:first-child):not(:last-child){
  border-start-end-radius: 100%;
    border-end-end-radius: 100%;
    border-start-start-radius: 100%;
    border-end-start-radius:100%;
    font-weight: bold;
}
.k-button-group > .k-button:last-child:not(:only-child){
  border-start-start-radius: 100%;
    border-end-start-radius: 100%;
    font-weight: bold;
}
