<div class="box" style="margin-top: 35px;" ngModelGroup="userInformation">
  <h4 style="margin-bottom: 35px;">بيانات المستخدم</h4>

  <div class="row" style="margin-bottom: 15px;">
    <div class="col-lg-6">
      <label for="name" class="form-label">الاسم</label>
      <input
      type="text"
      class="form-control"
      id="name"
      ngModel
      name="name"
      #name="ngModel"
      placeholder="هناء سعيد"
      disabled>
    </div>

    <div class="col-lg-6">
      <label for="email" class="form-label">البريد الإلكتروني</label>
      <input
      type="text"
      class="form-control"
      id="email"
      ngModel
      name="email"
      #email="ngModel"
      placeholder="example@mail.com"
      disabled>
    </div>
  </div>

  <div class="row" style="margin-bottom: 15px;">
    <div class="col-lg-6">
      <label for="phone" class="form-label required">رقم التواصل</label>
      <input
      type="text"
      class="form-control"
      id="phone"
      ngModel
      name="phone"
      #phone="ngModel"
      required>
      <small *ngIf="phone.invalid && phone.touched">يرجى إدخال رقم للتواصل</small>
    </div>

    <div class="col-lg-6">
      <label for="company" class="form-label">اسم الشركة(إن وجد)</label>
      <input
      type="text"
      class="form-control"
      id="company"
      ngModel
      name="company"
      #company="ngModel">
    </div>
  </div>
</div>
