
.form-control{
  line-height: 1.7;
  border-radius: 4px;
  border-color: rgb(235,235,235);
}
.form-control:hover{
  border-color:#dddddd
}
.form-control:focus{
  outline: 2px solid rgb(235,235,235);
  box-shadow: none;
}

.box{
  background-color: white;
  padding: 50px;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 2px 7px 0 #94949421;
  margin-bottom: 15px;
}
.required{
  position: relative;
}
.required::after{
  position: absolute;
  content: "*";
  color: red;
  width: fit-content;
  height: 100%;
}
small{
  color: red;
}
input.ng-invalid.ng-touched{
  border-color: red;
  }
.submitbtn{
  background-color: #2d334b;
  color: white;
  padding: 15px 60px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
}
