/* You can add global styles to this file, and also import other style files */
:root{
  --main-color:rgb(45,51,75);
  --header-color:#293f8f;
}
*{
  font-family: 'Tajawal', sans-serif;
}
h4{
  color: var(--header-color);
  font-weight: bold;
}
body{
  background-color: #f9fbff;
}
